.navbar {
  background-color: #222831;
  color: #fff;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
.main {
  background-color: #393e46;
  min-height: 85vh;
  padding: 30px 5%;
}
.pagetitle {
  color: #fff;
  margin-bottom: 20px;
}
.footer {
  background-color: #222831;
  text-align: center;
}
.copyright {
  color: #fff;
}
.pagination {
  justify-content: center;
  margin-top: 30px;
}

.footer {
  padding: 20px;
}
.card-edit{
  position: absolute;
  right: 5%;
}
.round-img{
  border-radius:50%;
  width: 120px;
  height: 120px;
}
.card {
  position: unset;
}
.image-wrapper {
  text-align: center;
}
.nav-unshown {
  display:none;
}
.index-image {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
  object-fit: cover;
}
.show-image {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  object-fit: contain;
  max-height: 640px;
}


@media screen and (max-width: 768px) {
  #nav-drawer {
    position: relative;
  }
  
  #nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
  }
  
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #555;
    display: block;
    content: '';
    cursor: pointer;
  }
  #nav-open span:before {
    bottom: -8px;
  }
  #nav-open span:after {
    bottom: -16px;
  }
  
  #nav-close {
    display: none;
    position: fixed;
    z-index: 2147483646;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
  }
  
  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2147483647;
    width: 100%;
    max-width: 335px;
    height: 4%;
    background: #fff;
    transition: .3s ease-in-out;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
  }
  
  #nav-input:checked ~ #nav-close {
    display: block;
    opacity: .5;
  }
  
  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
  }
}


@media screen and (max-width: 575.98px) {
  #nav-drawer {
  position: relative;
  }
  
  #nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
  }
  
  #nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
  }
  #nav-open span:before {
  bottom: -8px;
  }
  #nav-open span:after {
  bottom: -16px;
  }
  
  #nav-close {
  display: none;
  position: fixed;
  z-index: 2147483646;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
  }
  
  #nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2147483647;
  width: 88.5%;
  max-width: 335px;
  height: 9%;
  background: #fff;
  transition: .3s ease-in-out;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
  }
  
  #nav-input:checked ~ #nav-close {
  display: block;
  opacity: .5;
  }
  
  #nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
  }
  .width80 {
    width:80%;
  }
  .index-image {
    width: 100%;
    margin-bottom: 20px;
    object-fit: cover;
    max-width: 320px;
  }
  .show-image {
    width: 100%;
    margin-bottom: 20px;
    object-fit: fill;
    max-width: 320px;
    max-height: 320px;
  }
}